@font-face {
	font-family: StarJedi;
	src: url("fonts/Starjedi.ttf") format('truetype');
}

@font-face {
	font-family: StarJediHollow;
	src: url("fonts/Starjhol.ttf") format('truetype');
}

body {
  font-family: StarJedi, 'VT323', monospace;
  color: white;
  background: url(../images/swbg.jpg) no-repeat center fixed;
	background-size: cover;
}

h1 {
	font-family: StarJedi, 'VT323', monospace;
	color: white;
}

h2 {
	font-family: StarJediHollow, 'VT323', monospace;
  color: white;
}

figure {
	display: inline-block;
	margin: 0 10px;
}

figcaption {
	position: relative;
	top: -50px;
	width: 180px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid black;
	border-radius: 10px;
	margin: auto;

}

.whtRndBrdr {
	border: 2px solid white;
	border-radius: 10px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.2);
	
}

.charCards {
	width: 200px;
	border-radius: 10px;
}